* {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* navigation starts */
.navbar {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    border-bottom: solid black 1px;
    position: sticky;
    top:0px;
    background-color: white;
    z-index: 1;
}
.navbar__s1 {
    display: flex;
    gap:15px;
    cursor: pointer;
}

.navbar__s1__img {
    width: 40px;
}

.navbar__s2 {
    display: flex;
    gap: 40px;
    font-weight: 600;
    cursor: pointer;
}
.discover{
    position: relative;
}
.discover__popup{
    position: absolute;
    background-color: #34e0a1;
    color:white;
    border: solid #34e0a1 1px;
    border-radius: 20px;
    width:150px;
    top:30px;
    padding:20px;
    right: 0;
    display: none;
}
.discover:hover .discover__popup{
    display: block;
}
.navbar__s3 {
    display: flex;
    gap: 15px;
}

.navbar__s3 p {
    padding: 10px;
    cursor: pointer;
}

.navbar__s3 button {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

.navbar__s4 {
    display: none;
}
/* navigation ends */
/* Heading and description */
.heading{
        text-align: center;
        margin-top: 30px;
        font-size: 22px;
}
.description{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
    cursor: pointer;
}
/* heading and description ends */
/* Search starts */
.search {
    display: flex;
    border: solid #d6d3d3 2px;
    border-radius: 30px;
    padding: 5px;
    margin-top: 25px;
    margin-left: 20%;
    align-items: center;
    width: 60%;
    gap:5px;
}
.search__input {
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
}
.search input:focus {
    outline: none;
}
.search button {
    background-color: #34e0a1;
    color: black;
    border: none;
    padding: 15px;
    border-radius: 30px;
}
/* Search ends */
/* First big image */
.big-image {
    margin-top: 30px;
    margin-left:3px;
    margin-right:3px;
}

.big-image img{
    border-radius:25px;
    width: 100%;
}
/* first big image ends */
/* destination  section images */
.best-destination {
    padding: 10px;
}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    position: relative;

}
.inside-content {
    position: absolute;
    top: 80%;
    color: white;
    margin:10px;
    
}
.course-card img {
    width: 100%;
    height:100%;
    border-radius: 15px;
}
.course-card img:hover{
    opacity: 0.8;
}
.best-destination__container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}
/* destination section ends */
/* India tour section */
.india-tour{
    padding:10px;
}
.india-tour__container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}
.heart-emoji p{
    background-color: white;
    padding: 5px;
    border-radius:30px;
    width: fit-content;
    position: absolute;
    top:0;
    left:85%;
    margin-top: 10px;
    cursor: pointer;
}
.heart-emoji p:hover{
    background-color:red;
}
/* india tour section ends */
/* Asian cities section starts*/
.asian-cities{
    padding: 10px;
}
.asian-cities__container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}
.arrow img{
    position: relative;
}
.arrow p{
    background-color:black;
    color: white;
    padding: 5px;
    border-radius:30px;
    width: fit-content;
    position: absolute;
    left:92%;
    top:40%;
    cursor:pointer;
}
.arrow p:hover{
    background-color: #34e0a1;
}
/* Asian cities section ends */
/* Wold tour section */
.world-tour{
    padding: 10px;
}
.world-tour__container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}
/* world tour section ends */
/* Footer section */
.footer {
    padding: 30px;
    background-color:rgb(250, 241, 237);
    color:black;
    position: relative;
}
.footer__one {
    display: flex;
    gap:40px;
}
.footer__one p {
    margin: 10px;
}
.footer__two {
    display: flex;
    margin:10px;
    margin-top:20px;
    gap:15px;
}
.footer__three{
    display: flex;
    justify-content: right;
}
.footer__three__one{
    position: absolute;
    bottom:60%;
    right:10%;
    margin-top:20px;
}
.footer__three__one p{
    margin: 10px;
}
.icons{
    display: flex;
    gap:15px;
    margin-top: 30px;
    margin-left: 10px;
    
}
/* Media queries */
@media screen and (max-width:800px) {
    body{
        font-size: 12px;
    }
    .navbar__s2,.heart-emoji p,.arrow p{
        display: none;
    }
    .navbar__s4 {
        display: block;
    }
    .big-image img{
        width: 100%
    }
    .inside-content{
        font-size: 10px;
        top:70%;
    }
    .footer{
        font-size: 10px;
    }
}
@media screen and (max-width:600px) {
    body{
        font-size: 10px;
    }
    .navbar__s2,.description,.arrow p,.footer__three{
        display: none;
    }
    .navbar__s4,.heart-emoji p {
        display: block;
    }
    .search__input,.search button,.heading{
        font-size: 12px;
    }
    .big-image img{
        width: 100%
    }
    .course-card{
        flex-basis:40%;
    }
    .inside-content{
        font-size:10px;
        top:80%;
    }
    .footer{
        font-size: 10px;
    }
}
